## 1. SQLite with sqlite3 Module

In [1]:
# Creating a Database and Table
import sqlite3

# Connect to a database (or create it if it doesn't exist)
conn = sqlite3.connect('example.db')

# Create a cursor object
cursor = conn.cursor()

# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER NOT NULL
)
''')

In [2]:
# Inserting and Querying Data

# Insert data
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ('Ross', 30))
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ('Rachel', 30))

# Commit changes
conn.commit()

# Query data
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [3]:
# SQLite Transactions

try:
    # Begin a transaction
    conn.execute('BEGIN')

    # Perform operations
    cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ('Joey', 30))
    cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ('Phoebe', 30))
    
    # Commit the transaction
    conn.commit()
except Exception as e:
    # Rollback in case of error
    print(f"An error occurred: {e}")
    conn.rollback()

In [4]:
# Inner Join

# Perform a join query
cursor.execute('''
SELECT users.name, orders.order_date
FROM users
INNER JOIN orders ON users.id = orders.user_id
''')

rows = cursor.fetchall()
for row in rows:
    print(row)

In [5]:
# Subquery
# Perform a subquery
cursor.execute('''
SELECT name FROM users
WHERE id IN (SELECT user_id FROM orders WHERE order_date > '2023-11-11')
''')

rows = cursor.fetchall()
for row in rows:
    print(row)

In [6]:
# Aggregation Functions

# Perform aggregation queries
cursor.execute('SELECT COUNT(*) FROM users')
print(f"Total users: {cursor.fetchone()[0]}")

cursor.execute('SELECT AVG(age) FROM users')
print(f"Average age: {cursor.fetchone()[0]}")

# Close the connection
conn.close()

## 2. MySQL with mysql-connector-python

In [7]:
# Connecting to MySQL and Creating a Table
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host='localhost',
    user='username',
    password='password',
    database='testdb'
)

cursor = conn.cursor()

# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    position VARCHAR(255) NOT NULL
)
''')

In [8]:
# Inserting and Querying Data

# Insert data
cursor.execute("INSERT INTO employees (name, position) VALUES (%s, %s)", ('Chandler', 'Statistical Analysis and Data Reconfiguration'))
cursor.execute("INSERT INTO employees (name, position) VALUES (%s, %s)", ('Monica', 'Chef'))

# Commit changes
conn.commit()

# Query data
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

## 3. PostgreSQL with psycopg2

In [9]:
# Connecting to PostgreSQL and Creating a Table
import psycopg2

# Connect to PostgreSQL
conn = psycopg2.connect(
    dbname='testdb',
    user='username',
    password='password',
    host='localhost'
)

cursor = conn.cursor()

# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS products (
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    price NUMERIC(10, 2) NOT NULL
)
''')

In [10]:
# Inserting and Querying Data

# Insert data
cursor.execute("INSERT INTO products (name, price) VALUES (%s, %s)", ('Laptop', 99999))
cursor.execute("INSERT INTO products (name, price) VALUES (%s, %s)", ('Mouse', 255))

# Commit changes
conn.commit()

# Query data
cursor.execute("SELECT * FROM products")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

In [11]:
# Adding Indexes in PostgreSQL

# Create an index
cursor.execute("CREATE INDEX idx_users_name ON users (name)")

# Commit changes
conn.commit()

# Close the connection
conn.close()

## 4. SQLAlchemy ORM

In [12]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

# Define the database URL
DATABASE_URL = "sqlite:///examples.db"

# Create an engine
engine = create_engine(DATABASE_URL)

# Create a base class
Base = declarative_base()

# Define a model class
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String, nullable=False)
    age = Column(Integer, nullable=False)

# Create tables
Base.metadata.create_all(engine)

# Create a session
Session = sessionmaker(bind=engine)
session = Session()

# Add a new user
new_user = User(name='Alice', age=30)
session.add(new_user)
session.commit()

# Query data
users = session.query(User).all()
for user in users:
    print(user.name, user.age)

# Close the session
session.close()